<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ERM.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;jet OleDB:Database Password=;Data Source={StartupPath}\db\ERMDB.mdb;Persist Security Info=true" />
    <!--<add key="ConnectionString"  value="Provider=Microsoft.Jet.OLEDB.4.0;jet OleDB:Database Password=;Data Source={StartupPath}\db\db1.mdb;Persist Security Info=true" />-->
    <!--<add key="ConnectionString" value="Data Source=.;Initial Catalog=ERM_LangFang;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>-->
    <add key="dadh" value="dh00001" /><!--档案馆代号-->
    <add key="UseCount" value="GnDjrw+KlkA=" />
    <add key="UseCurCount" value="MoYeGrkYqas=" />
    <add key="UseDay" value="100" />
    <add key="UseType" value="CC4526BE-800D-4EBC-BFE9-9D44C88ED7EE" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="isMatchCode" value="[，。；？~！：%‘'“”’【】&quot;&amp;&lt;&gt;]"/>
    <!--值为1表示打开右键添加市政交通新增管道项,为0关闭添加管道功能-->
    <add key="lockItem" value="0"/>
    <!--上传文件大小-->
    <add key="uploadFileSize" value="30"/>
  </appSettings>
  <userSettings>
    <ERM.UI.Properties.Settings>
      <setting name="SPDFPath" serializeAs="String">
        <value>Pdf</value>
      </setting>
      <setting name="ODOCPath" serializeAs="String">
        <value>ODoc</value>
      </setting>
      <setting name="MPDFPath" serializeAs="String">
        <value>MPdf</value>
      </setting>
      <setting name="CellPath" serializeAs="String">
        <value>Template</value>
      </setting>
      <setting name="ProjectPath" serializeAs="String">
        <value>Project</value>
      </setting>
      <setting name="PDFTemp" serializeAs="String">
        <value>PDFTemp</value>
      </setting>
      <setting name="descriptive" serializeAs="String">
        <value>descriptive</value>
      </setting>
      <setting name="DagDh" serializeAs="String">
        <value>档案馆代号</value>
      </setting>
      <setting name="BackupData" serializeAs="String">
        <value>BackupData</value>
      </setting>
      <setting name="tuzhang" serializeAs="String">
        <value>100,100</value>
      </setting>
      <setting name="SignatureModel" serializeAs="String">
        <value>单页签章</value>
      </setting>
      <setting name="SignatureModelPositionX" serializeAs="String">
        <value>237</value>
      </setting>
      <setting name="SignatureModelPositionY" serializeAs="String">
        <value>357</value>
      </setting>
      <setting name="SipIncludeDoc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsFont" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FilterType" serializeAs="String">
        <value>JPG,GIF,BMP,XML,DOC,XLS,PPT,TIF,PDF,DWG,CLL|*.JPG;*.GIF;*.BMP;*.XML;*.DOC;*.XLS;*.PPT;*.TIF;*.PDF;*.DWG;*.CLL|JPG|*.JPG|GIF|*.GIF|BMP|*.BMP|XML|*.XML|DOC|*.DOC|XLS|*.XLS|PPT|*.PPT|TIF|*.TIF|PDF|*.PDF|DWG|*.DWG|CLL|*.CLL</value>
      </setting>
      <setting name="TreeWidth" serializeAs="String">
        <value>320</value>
      </setting>
      <setting name="PrintType" serializeAs="String">
        <value>JPG;XML;DOC;TIF;GIF;BMP;XLS;PPT;PDF;CLL;DWG;</value>
      </setting>
      <setting name="PrintYjml" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CellPrinterFoot" serializeAs="String">
        <value>格力房产有限公司</value>
      </setting>
      <setting name="IsPageNo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PageNoLocationX" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PageNoLocationY" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PageNoLocationSize" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="IsSignature" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TreeSelect" serializeAs="String">
        <value>CJDAG</value>
      </setting>
      <setting name="Module1" serializeAs="String">
        <value>28E6AC73-C17E-4568-AC9F-27FF92BBD43F</value>
      </setting>
      <setting name="Module2" serializeAs="String">
        <value>28E6AC73-C17E-4568-AC9F-27FF92BBD43F</value>
      </setting>
      <setting name="lbl_ProjectNO" serializeAs="String">
        <value>工程编号(备案号)</value>
      </setting>
      <setting name="lbl_wh1" serializeAs="String">
        <value>工程用地批准书号</value>
      </setting>
      <setting name="lbl_wh2" serializeAs="String">
        <value>用地规划许可证号</value>
      </setting>
      <setting name="lbl_wh3" serializeAs="String">
        <value>工程规划许可证号</value>
      </setting>
      <setting name="lbl_wh4" serializeAs="String">
        <value>工程施工许可证号</value>
      </setting>
      <setting name="Module3" serializeAs="String">
        <value>28E6AC73-C17E-4568-AC9F-27FF92BBD43F</value>
      </setting>
      <setting name="Module4" serializeAs="String">
        <value>28E6AC73-C17E-4568-AC9F-27FF92BBD43F</value>
      </setting>
      <setting name="ProjectNameBind" serializeAs="String">
        <value>28E6AC73-C17E-4568-AC9F-27FF92BBD43F</value>
      </setting>
      <setting name="Project_Add" serializeAs="String">
        <value>28E6AC73-C17E-4568-AC9F-27FF92BBD43F</value>
      </setting>
      <setting name="Project_Modefy" serializeAs="String">
        <value>28E6AC73-C17E-4568-AC9F-27FF92BBD43F</value>
      </setting>
      <setting name="Project_Del" serializeAs="String">
        <value>28E6AC73-C17E-4568-AC9F-27FF92BBD43F</value>
      </setting>
      <setting name="fd" serializeAs="String">
        <value>d</value>
      </setting>
      <setting name="lbl_t2" serializeAs="String">
        <value>联系电话：0755-83995038</value>
      </setting>
      <setting name="lbl_t1" serializeAs="String">
        <value>深圳市世纪伟图科技开发有限公司</value>
      </setting>
      <setting name="lbl_t3" serializeAs="String">
        <value>QQ：2689428488</value>
      </setting>
      <setting name="lbl_phone" serializeAs="String">
        <value>联系电话：0755-83995038</value>
      </setting>
      <setting name="lbl_QQ" serializeAs="String">
        <value>QQ：2689428488</value>
      </setting>
    </ERM.UI.Properties.Settings>
    <Properties.Settings>
      <setting name="SPDFPath" serializeAs="String">
        <value>Pdf</value>
      </setting>
      <setting name="ODOCPath" serializeAs="String">
        <value>ODoc</value>
      </setting>
      <setting name="MPDFPath" serializeAs="String">
        <value>MPdf</value>
      </setting>
      <setting name="CellPath" serializeAs="String">
        <value>Template</value>
      </setting>
      <setting name="ProjectPath" serializeAs="String">
        <value>Project</value>
      </setting>
      <setting name="PDFTemp" serializeAs="String">
        <value>PDFTemp</value>
      </setting>
      <setting name="descriptive" serializeAs="String">
        <value>descriptive</value>
      </setting>
      <setting name="DagDh" serializeAs="String">
        <value>档案馆代号</value>
      </setting>
      <setting name="BackupData" serializeAs="String">
        <value>BackupData</value>
      </setting>
      <setting name="tuzhang" serializeAs="String">
        <value>100,100</value>
      </setting>
      <setting name="SignatureModel" serializeAs="String">
        <value>单页签章</value>
      </setting>
      <setting name="SignatureModelPositionX" serializeAs="String">
        <value>237</value>
      </setting>
      <setting name="SignatureModelPositionY" serializeAs="String">
        <value>357</value>
      </setting>
      <setting name="SipIncludeDoc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsFont" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FilterType" serializeAs="String">
        <value>JPG,GIF,BMP,XML,DOC,XLS,PPT,TIF,PDF,DWG,CLL|*.JPG;*.GIF;*.BMP;*.XML;*.DOC;*.XLS;*.PPT;*.TIF;*.PDF;*.DWG;*.CLL|JPG|*.JPG|GIF|*.GIF|BMP|*.BMP|XML|*.XML|DOC|*.DOC|XLS|*.XLS|PPT|*.PPT|TIF|*.TIF|PDF|*.PDF|DWG|*.DWG|CLL|*.CLL</value>
      </setting>
      <setting name="TreeWidth" serializeAs="String">
        <value>320</value>
      </setting>
      <setting name="PrintType" serializeAs="String">
        <value>JPG;XML;DOC;TIF;GIF;BMP;XLS;PPT;PDF;CLL;DWG;</value>
      </setting>
      <setting name="PrintYjml" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CellPrinterFoot" serializeAs="String">
        <value>格力房产有限公司</value>
      </setting>
      <setting name="IsPageNo" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PageNoLocationX" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PageNoLocationY" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PageNoLocationSize" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="IsSignature" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TreeSelect" serializeAs="String">
        <value>CJDAG</value>
      </setting>
      <setting name="SPDFPath" serializeAs="String">
        <value>Pdf</value>
      </setting>
      <setting name="ODOCPath" serializeAs="String">
        <value>ODoc</value>
      </setting>
      <setting name="MPDFPath" serializeAs="String">
        <value>MPdf</value>
      </setting>
      <setting name="CellPath" serializeAs="String">
        <value>Template</value>
      </setting>
      <setting name="ProjectPath" serializeAs="String">
        <value>Project</value>
      </setting>
      <setting name="descriptive" serializeAs="String">
        <value>descriptive</value>
      </setting>
      <setting name="DagDh" serializeAs="String">
        <value>档案馆代号</value>
      </setting>
      <setting name="BackupData" serializeAs="String">
        <value>BackupData</value>
      </setting>
      <setting name="tuzhang" serializeAs="String">
        <value>100,100</value>
      </setting>
      <setting name="SignatureModel" serializeAs="String">
        <value>单页签章</value>
      </setting>
      <setting name="SignatureModelPositionX" serializeAs="String">
        <value>237</value>
      </setting>
      <setting name="SignatureModelPositionY" serializeAs="String">
        <value>357</value>
      </setting>
      <setting name="SipIncludeDoc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsFont" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FilterType" serializeAs="String">
        <value>JPG,GIF,BMP,XML,DOC,XLS,PPT,TIF,PDF,DWG,CLL|*.JPG;*.GIF;*.BMP;*.XML;*.DOC;*.XLS;*.PPT;*.TIF;*.PDF;*.DWG;*.CLL|JPG|*.JPG|GIF|*.GIF|BMP|*.BMP|XML|*.XML|DOC|*.DOC|XLS|*.XLS|PPT|*.PPT|TIF|*.TIF|PDF|*.PDF|DWG|*.DWG|CLL|*.CLL</value>
      </setting>
      <setting name="TreeWidth" serializeAs="String">
        <value>320</value>
      </setting>
      <setting name="PrintType" serializeAs="String">
        <value>JPG;XML;DOC;TIF;GIF;BMP;XLS;PPT;PDF;CLL;DWG;</value>
      </setting>
      <setting name="PrintYjml" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CellPrinterFoot" serializeAs="String">
        <value>格力房产有限公司</value>
      </setting>
      <setting name="IsPageNo" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PageNoLocationX" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PageNoLocationY" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PageNoLocationSize" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="IsSignature" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TreeSelect" serializeAs="String">
        <value>CJDAG</value>
      </setting>
    </Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>