<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Digi.B.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="cn_mdb" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;jet OleDB:Database Password=;Data Source=C:\data.ZH.mdb;Persist Security Info=true" />
    <add name="cn_sql" providerName="System.Data.SqlClient" connectionString="server=192.168.1.31;database=DigiCell;User ID=sa;password=sa" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="cn_mdb" />
  <appSettings>
    <add key="ConnectionString"  value="Provider=Microsoft.Jet.OLEDB.4.0;jet OleDB:Database Password=;Data Source=C:\data.ZH.mdb;Persist Security Info=true" />
  </appSettings>
    <userSettings>
        <Digi.B.Properties.Settings>
            <setting name="ProjectPath" serializeAs="String">
                <value>ProjectPath</value>
            </setting>
            <setting name="descriptive" serializeAs="String">
                <value>Destriptive</value>
            </setting>
            <setting name="MDBPath" serializeAs="String">
                <value>D:\work\erm\ERM\bin\Debug\Db\data.mdb</value>
            </setting>
            <setting name="CellPath" serializeAs="String">
                <value>Template</value>
            </setting>
        </Digi.B.Properties.Settings>
    </userSettings>
</configuration>