<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<!--<properties embedded="database.config,ERM.DAL"/>-->
	<settings>
		<setting useStatementNamespaces="true"/>
		<setting cacheModelsEnabled="true"/>
		<setting validateSqlMap="false"/>
	</settings>

	<providers embedded="providers.config,ERM.DAL"/>
	<database>
		<provider name="OleDb1.1"/>
		<dataSource name="iBatisNet" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=db\ERMDB.mdb;Persist Security Info=False"/>
	</database>
	<sqlMaps>
		<sqlMap embedded="Map.Access.T_Item.xml,ERM.DAL"/>
		<sqlMap embedded="Map.Access.T_Users.xml,ERM.DAL"/>
		<sqlMap embedded="Map.Access.T_FileList.xml,ERM.DAL"/>
		<sqlMap embedded="Map.Access.T_Projects.xml,ERM.DAL"/>
		<sqlMap embedded="Map.Access.T_Units.xml,ERM.DAL"/>
		<sqlMap embedded="Map.Access.T_Dict.xml,ERM.DAL"/>
		<sqlMap embedded="Map.Access.T_CellAndEFile.xml,ERM.DAL"/>
		<sqlMap embedded="Map.Access.T_Archive.xml,ERM.DAL"/>
		<sqlMap embedded="Map.Access.T_Settings.xml,ERM.DAL"/>
		<sqlMap embedded="Map.Access.T_CellFileTemplate.xml,ERM.DAL"/>
		<sqlMap embedded="Map.Access.T_GdList.xml,ERM.DAL"/>
		<sqlMap embedded="Map.Access.T_GdListTemplate.xml,ERM.DAL"/>
    <sqlMap embedded="Map.Access.T_YW_CellAndEFile.xml,ERM.DAL"/>
    <sqlMap embedded="Map.Access.T_Traffic.xml,ERM.DAL"/>
    <sqlMap embedded="Map.Access.T_Traffic_Detail.xml,ERM.DAL"/>
    <sqlMap embedded="Map.Access.T_Project_Brige.xml,ERM.DAL"/>
    <sqlMap embedded="Map.Access.T_Project_RoadLamp.xml,ERM.DAL"/>
    <sqlMap embedded="Map.Access.T_FileListTemplate.xml,ERM.DAL"/>
    <sqlMap embedded="Map.Access.T_Point.xml,ERM.DAL"/>
  </sqlMaps>
</sqlMapConfig>
